
.container__main {
    padding: 0;
}

.userPic {
    border-radius: 10px;
    width: 15em;
    height: 15em;
    object-fit:cover;
    margin-bottom: 15px;
}

.objPic {
    width: 8em;
    height: 8em;
    object-fit:cover;
    margin-left: 8px;
}

.objInnerText {
    margin-bottom: 0;
}

.threeDotButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    max-height: 1em;
}

#basic-nav-dropdown::after{
    display: none;
}
